---
Language: Cpp

# インデント幅を4スペースに設定
IndentWidth: 4
# タブ幅も4スペースに設定
TabWidth: 4
# インデントにはタブではなくスペースのみを使用
UseTab: Never
# public/privateはベースラインに置く
AccessModifierOffset: -4

# 短いwhile文を1行に収める
AllowShortBlocksOnASingleLine: Always
AllowShortLoopsOnASingleLine: true
# 短いswitch-case文を1行に収める
AllowShortCaseLabelsOnASingleLine: true
# テンプレート宣言の後に改行する
AlwaysBreakTemplateDeclarations: Yes

# 括弧の個別制御を指定する
BreakBeforeBraces: Custom
BraceWrapping:
  # 関数の後ろの括弧は改行する
  AfterFunction: true
  # クラスの後ろの括弧は改行する
  AfterClass: true
  # 構造体の後ろの括弧は改行する
  AfterStruct: true
  # 列挙体の後ろの括弧は改行する
  AfterEnum: true
  # else節の前に改行する
  BeforeElse: true
  # catch節の前に改行する
  BeforeCatch: true

# include の並び替えはしない
SortIncludes: false

# ポインタと参照のアライメントを右寄せにする
PointerAlignment: Right
ReferenceAlignment: Right

# Cスタイルキャストの後にスペースを入れる
SpaceAfterCStyleCast: true
# 1行あたりの最大文字数を120に設定
ColumnLimit: 120

---
Language: Json

BasedOnStyle:  LLVM

